.PersonalCard{
    background: salmon;
}
.UpperPersonalCard{
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.UpperPersonalCardLeft .UpperPersonalCardMiddle .UpperPersonalCardRight{
    flex: 1;
}
.Third{
    background-color: antiquewhite;
    width: 400px;
    height: 50%;
    display: flex;
    justify-content: center;
}
table {
    width: 1000px;
    border: 2px solid green; 
  
}
.PersonalTable tr{
    display: flex;
    flex-grow: 1;
    background-color: pink;
}
td{
    border: 2px solid saddlebrown;
}