.main{
    background-color: antiquewhite;
    
}
.upper, .middle, .footer{
    height: 200px;
}
.upper{
    background-color:lightblue;
    display: flex;
}
.kutija{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.btnReset{
    height: 70px;
    background-color:purple;
    color:aliceblue;
}
.middle{
    display: flex;
}
.GPTJoke{
    width: 33%;
}

